$color: #262828;

body {
  color: $color;
  margin: 0 !important;
  overflow: hidden;
}

svg {
  animation: fadeIn .5s ease-in;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


